<launch>

    <arg name="joy_dev" default="/dev/input/js0" />
    <!-- When using an Xbox 360 controller A is the trigger and the left joystick will move the robot -->
    <node pkg="joy" type="joy_node" name="joy_node">
      <param name="dev" value="$(arg joy_dev)" />
      <param name="deadzone" value="0.3" />
      <param name="autorepeat_rate" value="20" />
    </node>
    
    <!--
    <include file="$(find pointgrey_camera_driver)/launch/camera.launch"/>
    -->

    <node pkg="igvc" type="button_publisher.py" name="button_pub" output="screen">
    </node>

    <node pkg="igvc" type="compHeading.py" name="tiltComp_Heading" output="screen">
    </node>

    <node pkg="igvc" type="izzy_nav.py" name="izzy_nav" output="screen">
    </node>

    <node pkg="pixycam" type="pixy_driver.py" name="pixycam" output="screen">
    </node>

    <node pkg="xsens_driver" type="mtnode_new.py" name="xsens_driver" output="screen" ns="xsens">
    </node>

    <node pkg="gvrbot" type="batterySubscriberPublisher.py" name="batteryPercent" output="screen" >
	</node>

    <node pkg="rosserial_python" type="serial_node.py" name="serial_node">
        <param name="port" value="/dev/ttyACM0"/>
	</node>

</launch>
